body {
    background: url("/static/images/finances-4.jpg") fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.special-card {
        background-color: rgb(203, 206, 223);
        opacity: .8;
}

