html {
    position: relative;
    min-height: 100%;
    }

body {
    position: relative;
    background: url("/static/images/finances-4.jpg") fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.special-card {
        background-color: rgb(228, 228, 228);
        opacity: .9;
}

.container-box {
    min-height: 100%;
    overflow: auto;
    padding-bottom: 100px;
}

.footer-custom {
    position: relative;
    height: 100px;
    margin-top:  -100px;
    background-color: rgb(228, 228, 228);
    text-align: center;
    opacity: .9;
}
