{% extends 'MGMT/main.html' %}

{% load static %}

{% block content %}


<div class="containetr-fluid">
    <div class="card card-body special-card" style="width: 40rem; margin: 0 auto">
        <div class="display-4">Create a Savings Jar:</div>
        <hr>
        <div class="card card-body special-card">
            <form action="" method="POST">
                {% csrf_token %}
                <div style="display: none;">
                    {{ form.user }}
                </div>
                <div class="card card-body special-card">
                    <div class="" style="font-size: 20px;">Naming: {{ form.naming }}</div>
                    <hr>
                    <div class="" style="font-size: 20px;">Desired_amount: {{ form.desired_amount }}</div>
                    <hr>
                    <div class="" style="font-size: 20px;">Present Amount: {{ form.amount }}</div>
                </div>
                <input class="btn btn-primary btn-lg" type="submit" name="Submit">
                <a class="btn btn-outline-secondary btn-lg" href="{% url 'savings_page' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>


{% endblock %}