{% extends 'MGMT/main.html' %}

{% load static %}

{% block content %}

{% include 'MGMT/status.html' %}

<div class="card card-body">
    <div class="display-4">Add a Goal:</div>
    <hr>
    <div class="card card-body">
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <input class="btn btn-outline-secondary" type="submit" name="Submit">
            <a class="btn btn-outline-secondary" href="{% url 'goals_page' %}">Cancel</a>
        </form>
    </div>
</div>




{% endblock %}