{% extends 'MGMT/main.html' %}

{% load static %}

{% block content %}


<div class="container-fluid">
    <div class="card card-body special-card" style="width: 40rem; margin: 0 auto">
        <div class="display-4">Goal:</div>
        <hr>
        <div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %}
                <div style="display: none;">
                    {{ form.user }}
                </div>
                <div class="card card-body">
                    <div class="display-5">Naming: {{ form.naming }}</div>
                    <hr>
                    <div class="display-5">Category: {{ form.category }}</div>
                    <hr>
                    <div class="display-5">Amount: {{ form.amount }}</div>
                    <hr>
                    <div class="display-5">Due Date: {{ form.due_date }}</div>
                    <hr>
                </div>
                <input class="btn btn-outline-primary btn-lg" type="submit" name="Submit">
                <a class="btn btn-outline-secondary btn-lg" href="{% url 'goals_page' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>



{% endblock %}