{% extends 'MGMT/main.html' %}

{% load static %}

{% block content %}


<div class="row">
    <div class="col-sm">
        <div class="card card-body special-card">
            <div class="display-4"><a href="{% url 'record_form' user.id %}">Add a Record</a></div>
        </div>
        <div class="card card-body special-card">
            <div class="display-4"><a href="{% url 'goal_form' %}">Add a Goal</a></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl">
        <div class="card card-body special-card">
            <div class="display-4">Records: {{total_records}}</div>
        </div>
        <div class="card card-body special-card">
            <table class="table table_id table-striped table-hover table-secondary">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Descriprion</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                        <tr>
                            <td>{{record.category}}</td>
                            <td>{{record.naming}}</td>
                            <td>€{{record.amount}}</td>
                            <td>{{record.date_created}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-body special-card">
            <div class="display-4">Goals: {{total_goals}}</div>
        </div>
        <div class="card card-body special-card">
            <table class="table table_id table-striped table-hover table-secondary">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Descriprion</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Due_Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for goal in goals %}
                        <tr>
                            <td>{{goal.category}}</td>
                            <td>{{goal.naming}}</td>
                            <td>${{goal.amount}}</td>
                            <td>{{goal.due_date}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>

</div>

{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
<script>
$(document).ready( function () {
$('.table_id').DataTable({

dom: 'B<"clear">lfrtip',
buttons: {
    name: 'primary',
    buttons: [ 'copy', 'csv', 'excel', 'pdf' ]

    }}
);
} );
</script>
{% endblock %}


