{% extends 'MGMT/main.html' %}

{% block content %}

<style>
    .special-card {
        /* create a custom class so you 
           do not run into specificity issues 
           against bootstraps styles
           which tends to work better than using !important 
           (future you will thank you later)*/
        
          background-color: rgba(245, 245, 245, 1);
          opacity: .8;
        }
</style>

<div class="row">
    <div class="col-sm">
        <div class="card card-body special-card">
            <div class="display-4"><a href="{% url 'act_form' %}">Add Activity</a></div>
        </div>
        <div class="card card-body special-card">
            <div class="display-4"><a href="{% url 'goal_form' %}">Add a Goal</a></div>
        </div>
    </div>
    <div class="col-sm">
        {% include 'MGMT/status.html' %}
    </div>
</div>

<div class="row">
    <div class="col-xl">
        <div class="display-4">Activities: {{total_activities}}</div>
        <div class="card card-body">
            <table class="table table-striped table-hover table-secondary">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Descriprion</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                {% for activity in activities %}
                    <tr>
                        <td>{{activity.category}}</td>
                        <td>{{activity.naming}}</td>
                        <td>€{{activity.amount}}</td>
                        <td>{{activity.date_created}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="display-4">Goals: {{total_goals}}</div>
        <div class="card card-body">
            <table class="table table-striped table-hover table-secondary">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Descriprion</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Due_Date</th>
                    </tr>
                </thead>
                {% for goal in goals %}
                    <tr>
                        <td>{{goal.category}}</td>
                        <td>{{goal.naming}}</td>
                        <td>${{goal.amount}}</td>
                        <td>{{goal.due_date}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>

{% endblock %}


