{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Money Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>


<body>
    {% include 'MGMT/navbar.html' %}
<hr>
    
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <div class="card special-card" style="width: 40rem; height:12rem;">
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" 
                data-target="#RecordAddModal" 
                style="height:6rem; width:40rem; font-size:2.5rem;">Add a Record
        </button>
        <button type="button" class="btn btn-primary btn-lg" 
                data-toggle="modal" data-target="#GoalAddModal" 
                style="height:3rem; width:40rem; font-size:1.25rem;">Add a Goal
        </button>
        <button type="button" class="btn btn-primary btn-lg" 
                data-toggle="modal" data-target="" 
                style="height:3rem; width:40rem; font-size:1.25rem;">Tip a Jar
        </button> 
      </div>
      <div class="card special-card" style="width: 38rem; height:12rem;">
        <div class="card special-card text-center">
          <a href="{% url 'user-settings' %}" class="btn btn-secondary btn-lg">
            <div class="card-title display-4">{{request.user}}</div>
          </a>
          <hr>
          <div class="card-title display-4">Balance: ${{balance|floatformat:2}}</div>
      </div>
      </div>
    </div>
  </div>

<hr>
<div class="containter container-box">
  {% block content %}

  {% endblock %}
</div>
  
<footer class="page-footer footer-custom font-small bg-dark text-light sticky-bottom">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MGMT.com</a>
    <a class="btn btn-outline-primary" href="{% url 'about' %}">About</a>
  </div>
</footer>



{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
<script>
$(document).ready( function () {
$('.table_id').DataTable({

dom: 'B<"clear">lfrtip',
buttons: {
    name: 'primary',
    buttons: [ 'copy', 'csv', 'excel', 'pdf' ]

    }}
);
} );
</script>
{% endblock js %}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>

</body>
</html>