{% extends 'MGMT/main.html' %}

{% load static %}

{% block content %}





<div class="card card-body">
    <div class="display-4">Add a monetary record:</div>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        <div style="display: none;">
            {{ form.user }}
        </div>
        <div class="card card-body special-card">
            <div class="display-5">Naming: {{ form.naming }}</div>
            <hr>
            <div class="display-5">Category: {{ form.category }}</div>
            <hr>
            <div class="display-5">Amount: {{ form.amount }}</div>
            <hr>
        </div>
        <input class="btn btn-outline-secondary" type="submit" name="Submit">
        <a class="btn btn-outline-secondary" href="{% url 'record_page' %}">Cancel</a>
    </form>
</div>

{% endblock %}