{% extends 'MGMT/main.html' %}

{% load static %}

{% block content %}

<style>
    .OutflowValue {
      color: #8a0000;
  }
    
  .InflowValue {
      color: #007a06;
  }
  </style>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card special-card">
                <div class="card-title text-center">
                    <div class="display-4">Outflow: </div>
                </div>
                <div class="card-body">
                    <div class="OutflowValue" style="font-size: 45px;"><u>${{ total_expenses|floatformat:2 }}</u> total expenses</div>
                    <div class="OutflowValue" style="font-size: 45px;"><u>${{ total_upkeep|floatformat:2 }}</u> total upkeep</div>
                    <div class="OutflowValue" style="font-size: 45px;"><u>${{ total_unforeseen|floatformat:2 }}</u> total other expenses</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card special-card">
                <div class="card-title text-center">
                    <div class="display-4">Inflow: </div>
                </div>
                <div class="card-body">
                    <div class="InflowValue" style="font-size: 45px;"><u>${{ total_income|floatformat:2 }}</u> total income</div>
                    <div class="InflowValue" style="font-size: 45px;"><u>${{ total_dividents|floatformat:2 }}</u> total dividents</div>
                    <div class="InflowValue" style="font-size: 45px;"><u>${{ total_in_other|floatformat:2 }}</u> total other sources</div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="card card-body special-card">
        <div class="display-4">Records: {{total_records}} total 
            <a class="btn btn-success btn-lg" href="{% url 'create_record' %}">Add a Record</a>
        </div>
        <hr>
        <table class="table table_id table-striped table-hover table-secondary">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center font-weight-bold" scope="col">Type</th>
                    <th class="text-center font-weight-bold" scope="col">Descriprion</th>
                    <th class="text-center font-weight-bold" scope="col">Amount</th>
                    <th class="text-center font-weight-bold" scope="col">Date</th>
                    <th class="text-center font-weight-bold" scope="col">Modify</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                
                {% if record.category in 'expenses' or record.category in 'upkeep' or record.category in 'unforeseen'  %}
                    <tr class="OutflowValue"> 
                {% else %} 
                    <tr class="InflowValue">
                {% endif %}
                        ><td class="text-center font-weight-bold" >{{ record.category }}</td>
                            <td class="text-center font-weight-bold" >{{ record.naming }} </td>
                            <td class="text-center font-weight-bold" >${{ record.amount }}</td>
                            <td class="text-center font-weight-bold" >{{ record.date }}</td>
                            <td class="text-center font-weight-bold" ><a class="btn btn-secondary btn-lg" href="{% url 'record_form' record.id %}">Change</a></td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</div>

{% include 'MGMT/modals.html' %}

{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
<script>
$(document).ready( function () {
$('.table_id').DataTable({

dom: 'B<"clear">lfrtip',
buttons: {
    name: 'primary',
    buttons: [ 'copy', 'csv', 'excel', 'pdf' ]

    }}
);
} );
</script>
{% endblock %}

